*{
    font-size: 50px;
}
/* li ul{
    display: none;
}

li:hover{
    color:red;
}

li:hover>ul{
    display: block;
} */

li li{
    display: none;
}
/* li pe hover kia toh jo bhi uska child hai uske under jitne bhi li hai, display those */
li:hover>*>li{
    display: block;
}
